@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: "Rubik";
}

body {
    background-color: black;
    color: white;
}

/* Cores*/

:root {
    --onyx: #131316ff;
    --shadow-grey: #1c1c21ff;
    --shadow-grey-2: #26262cff;
    --graphite: #2f3037ff;
    --gunmetal: #393a41ff;
    --charcoal: #4b4c52ff;
    --charcoal-2: #5b5c62ff;
    --dim-grey: #6a6b70ff;
}

/* Estilização base*/

header {
    width: 100%;
    height: 50px;
    background-color: var(--shadow-grey);
    border-bottom: 1px solid var(--shadow-grey-2);
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Forms */
.form-card {
    width: 500px;
    height: 400px;
    background-color: var(--shadow-grey-2);
    border: 1px solid var(--graphite);
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
}

.form-button {
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
    background-color: #32a602;
    color: ghostwhite;
}

.form-button:hover {
    opacity: 0.8;
}
/* Buttons */

.green-button {
    padding: 10px;
    border-radius: 8px;
    background-color: #32a602;
    color: ghostwhite;
}

.red-button {
    padding: 10px;
    border-radius: 8px;
    background-color: #fe5643;
}

.blue-button {
    padding: 10px;
    border-radius: 8px;
    background-color: #5a8cff;
}

.red-button,
.green-button,
.blue-button {
    color: ghostwhite;
    font-weight: 450;
    border: none;
    margin: 10px 0px;
}

.red-button:hover,
.green-button:hover,
.blue-button:hover {
    opacity: 0.8;
}
