main {
    margin: 20px 0px;
}

#cart-card {
    display: flex;
    min-height: 800px;
    width: 1200px;
    background-color: var(--shadow-grey);
    border: 1px solid var(--shadow-grey-2);
    border-radius: 8px;
    margin: auto;
    flex-direction: column;
    justify-content: start;
    flex-wrap: nowrap;
    padding: 10px;
    gap: 20px;
}

.first-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
}

.product-texts {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.product-image {
    background-color: white;
    width: 150px;
    height: 150px;
    padding: 10px;
    border-radius: 8px;
}

.product-name {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 36px;
}

.product-price {
    color: palegreen;
}

.product-category {
    color: var(--dim-grey);
}
.product-description {
    margin-top: 20px;
    font-size: 20px;
}
